---
import { getEntry, render } from 'astro:content';
import BaseLayout from '@/layouts/BaseLayout.astro';
import Container from '@/components/Container.astro';
import Author from '@/components/ui/Author.astro';
import { getLocalizedAuthor } from '@/lib/constants';
import WorkExperience from '@/components/ui/WorkExperience.astro';
import { sortJobsByDate } from '@/lib/utils';
import Talk from '@/components/ui/Talk.astro';
import { getLocalizedContent } from '@/lib/content';

// Get content in Korean
const entry = await getEntry('pages-ko', 'homepage');
const { Content } = await render(entry);

const links = await getLocalizedContent('links', 'ko');
const jobs = await getLocalizedContent('jobs', 'ko');
const sortedJobs = sortJobsByDate(jobs);

const talks = await getLocalizedContent('talks', 'ko');
---

<BaseLayout seo={entry?.data.seo}>
  <Container as='section' class='py-6'>
    <Author {...getLocalizedAuthor('ko')} />
  </Container>

  <Container as='section' class='py-6'>
    <div class="flex flex-col gap-6">
      <div class="flex items-center">
        <span class="text-headings">소개</span>
      </div>
      <div class="prose dark:prose-invert">
        <Content />
      </div>
    </div>
  </Container>
  {
    links.length > 0 && (
      <Container as='section' class='py-8'>
        <div class="flex flex-col gap-5">
          <span class="text-headings">연락처</span>
          <ul class="flex flex-col gap-3">
            {links.map((link) => (
              <li class="py-0.5">
                <div class="flex items-center gap-5">
                  <span class="min-w-28 text-muted-foreground">
                    {link.data.label}
                  </span>
                  <a
                    class="text-headings font-medium"
                    rel="noopener noreferrer"
                    target="_blank"
                    href={link.data.url}
                  >
                    {link.data.name}
                  </a>
                </div>
              </li>
            ))}
          </ul>
        </div>
      </Container>
    )
  }
  {
    sortedJobs.length > 0 && (
      <Container as='section' class='py-6'>
        <div class="flex flex-col gap-5">
          <span class="text-headings">경력</span>
          <ul class="flex flex-col gap-8">
            {sortedJobs.map((job) => (
              <WorkExperience entry={job} />
            ))}
          </ul>
        </div>
      </Container>
    )
  }
  <!-- {
    talks.length > 0 && (
      <Container as='section' class='py-6'>
        <div class="flex flex-col gap-5">
          <span class="text-headings">Speaking</span>
          <ul class="flex flex-col gap-8">
            {talks.map((talk) => (
              <Talk entry={talk} />
            ))}
          </ul>
        </div>
      </Container>
    )
  } -->
</BaseLayout>